$primary-color :#111;
$font-family :"monospace";
$secondary-color :#999;
$text-color :#111;
$text-color-second :#444;
$button-color :#008CFF;
$secondary-font: "proxima nova light","Helvetica Neue",
                    Helvetica, Arial, Sans-serif;